body {
  background-color: getColor('bg-primary');
  color: getColor('white-text');

  font-family: $primary-font;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  //   Mobile
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // Tablet
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
