<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">How It's Made-Statistics</h2>
        <ul class="advantages-statistics">
            <li class="advantages-statistics__item">
                <p class="advantages-statistics__numbers advantages-statistics__numbers--first">721</p>
                <p class="advantages-statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-statistics__item">
                <p class="advantages-statistics__numbers advantages-statistics__numbers--second">16kg</p>
                <p class="advantages-statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-statistics__item">
                <p class="advantages-statistics__numbers advantages-statistics__numbers--third">84</p>
                <p class="advantages-statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>