<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <a
          class="contacts__address"
          href="https://goo.gl/maps/nyu2S893NeNKqWzy7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >

        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="communication">
          <li class="communication__item">
            <a href="tel:+61(0)383766284" class="communication__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="communication__item">
            <a href="mailto:noreply@envato.com" class="communication__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__category">FOODTRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <a
          class="contacts__address"
          href="https://goo.gl/maps/hUR4eubLtP9c8Dq57"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >

        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="communication">
          <li class="communication__item">
            <a href="tel:+61(0)383766284" class="communication__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="communication__item">
            <a href="mailto:noreply@envato.com" class="communication__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">New York</p>
        <a
          class="contacts__address"
          href="https://goo.gl/maps/gGYvVc9vJadj53Gw7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >

        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="communication">
          <li class="communication__item">
            <a href="tel:+61(0)383766284" class="communication__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="communication__item">
            <a href="mailto:noreply@envato.com" class="communication__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="btn-group">
      <li class="btn-group__item">
        <button
          type="button"
          class="btn-group__btn-locations js-open-modal"
          data-modal="1"
        >
          Our Locations
          <svg class="btn-group__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="btn-group__item">
        <button
          type="button"
          class="btn-group__btn-franchise js-open-modal"
          data-modal="2"
        >
          Franchise
          <svg class="btn-group__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
