<section class="gallery">
  <div class="container">
    <div class="bg-wrapper"></div>
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__slider">
      <div class="slider__item-gallery">
        <img
          srcset="
            ./images/gallery/icecream01_mobile@1x.jpg   280w,
            ./images/gallery/icecream01_mobile@2x.jpg   560w,
            ./images/gallery/icecream01_tablet@1x.jpg   704w,
            ./images/gallery/icecream01_desktop@1x.jpg 1013w,
            ./images/gallery/icecream01_tablet@2x.jpg  1408w,
            ./images/gallery/icecream01_desktop@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767px) 280px, 100vw"
          src="./images/gallery/icecream01_mobile@1x.jpg"
          alt="Ice cream"
          width="280"
          height="130"
          loading="lazy"
        />
      </div>
      <div class="slider__item-gallery">
        <img
          srcset="
            ./images/gallery/icecream02_mobile@1x.jpg   280w,
            ./images/gallery/icecream02_mobile@2x.jpg   560w,
            ./images/gallery/icecream02_tablet@1x.jpg   704w,
            ./images/gallery/icecream02_desktop@1x.jpg 1013w,
            ./images/gallery/icecream02_tablet@2x.jpg  1408w,
            ./images/gallery/icecream02_desktop@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767px) 280px, 100vw"
          src="./images/gallery/icecream02_mobile@1x.jpg"
          alt="Ice cream"
          width="280"
          height="130"
          loading="lazy"
        />
      </div>
      <div class="slider__item-gallery">
        <img
          srcset="
            ./images/gallery/icecream03_mobile@1x.jpg   280w,
            ./images/gallery/icecream03_mobile@2x.jpg   560w,
            ./images/gallery/icecream03_tablet@1x.jpg   704w,
            ./images/gallery/icecream03_desktop@1x.jpg 1013w,
            ./images/gallery/icecream03_tablet@2x.jpg  1408w,
            ./images/gallery/icecream03_desktop@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (max-width: 767px) 280px, 100vw"
          src="./images/gallery/icecream03_mobile@1x.jpg"
          alt="Ice cream"
          width="280"
          height="130"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
