<section class="section hero">
  <div class=" hero__container-main">
    <h1 class="hero__title" id="home">
      ice cream <br />made with
      <span class="hero__title hero__title--font-size"> <br />passion</span>
    </h1>
    <div class="hero__points-of-sale">
      <ul class="hero__list">
        <li class="hero__link--number">16</li>
        <li class="hero__link">cafes</li>
        <li class="hero__link--number">23</li>
        <li class="hero__link">food trucks</li>
      </ul>
    </div>
  </div>
  <div class="hero__button">
    <button class="btn-group__btn-products" type="button">Products</button>
    <button class="btn-group__btn-made" type="button" >How it’s made?</button>
  </div>
  <div class="hero__container-paragraph">
    <img class="hero__img--plate" srcset="
        ./images/hero_header/icecream_tablet@1x.jpg 152w,
        ./images/hero_header/icecream_tablet@2x.jpg 304w,
        ./images/hero_header/icecream_desktop@1x.jpg 225w,
        ./images/hero_header/icecream_desktop@1x.jpg 450w
      " sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
      src="./images/hero_header/icecream_tablet@1x.jpg" alt="plate with different ice-cream" />
    <div class="hero__text">
      <p class="hero__text--paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="hero__svg" width="40" height="16">
        <use href="./images/icons.svg#icon-big-arrow"></use></svg>
    </div>
  </div>
  <div class="hero__picture">
    <img class="hero__picture--ice-cream" srcset="
                ./images/hero_header/icecream_waffle_mobile@1x.png          177w,
                ./images/hero_header/icecream_waffle_mobile@2x.png          354w,
                ./images/hero_header/icecream_waffle_tablet@1x.png          268w,
                ./images/hero_header/icecream_waffle_tablet@2x.png          536w,
                ./images/hero_header/icecream_waffle_desktop@1x.png          456w,
                ./images/hero_header/icecream_waffle_desktop@2x.png          912w"
      sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 177px, 100vw"
      src=" ./images/hero_header/icecream_waffle_mobile@1x.png" alt="three different ice-cream with fanny smile" />
  </div>
</section>