<!-- ice-cream (section "products") -->
<picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/icecream_desktop@1x.webp 1x,
      ./images/products/desktop/icecream_desktop@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/icecream_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/icecream_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/icecream_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/icecream_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/icecream_desktop@1x.jpg 1x,
      ./images/products/desktop/icecream_desktop@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/icecream_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/icecream_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/icecream_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/icecream_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <img
    src="./images/products/mobile_tablet/icecream_mobile_tablet@1x.jpg"
    alt="ice-cream"
    class=""
    loading="lazy"
  />
</picture>

<!-- ice-coffee (section "products") -->
<picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/icecoffee_desktop@1x.webp 1x,
      ./images/products/desktop/icecoffee_desktop@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/icecoffee_desktop@1x.jpg 1x,
      ./images/products/desktop/icecoffee_desktop@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/icecoffee_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <img
    src="./images/products/mobile_tablet/icecoffee_mobile_tablet@1x.jpg"
    alt="ice-coffee"
    class=""
    loading="lazy"
  />
</picture>

<!-- milkshake (section "products") -->
<picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/milkshake_desktop@1x.webp 1x,
      ./images/products/desktop/milkshake_desktop@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/milkshake_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/milkshake_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/milkshake_mobile_tablet@1x.webp 1x,
      ./images/products/mobile_tablet/milkshake_mobile_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/products/desktop/milkshake_desktop@1x.jpg 1x,
      ./images/products/desktop/milkshake_desktop@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/products/mobile_tablet/milkshake_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/milkshake_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/products/mobile_tablet/milkshake_mobile_tablet@1x.jpg 1x,
      ./images/products/mobile_tablet/milkshake_mobile_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <img
    src="./images/products/mobile_tablet/milkshake_mobile_tablet@1x.jpg"
    alt="milkshake"
    class=""
    loading="lazy"
  />
</picture>

<!-- cow (section "about") -->
<picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/about/cow_desktop@1x.webp 1x,
      ./images/about/cow_desktop@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/about/cow_tablet@1x.webp 1x,
      ./images/about/cow_tablet@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/about/cow_mobile@1x.webp 1x,
      ./images/about/cow_mobile@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/about/cow_desktop@1x.jpg 1x,
      ./images/about/cow_desktop@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/about/cow_tablet@1x.jpg 1x,
      ./images/about/cow_tablet@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/about/cow_mobile@1x.jpg 1x,
      ./images/about/cow_mobile@2x.jpg 2x
    "
    type="image/jpg"
  />
  <img
    src="./images/about/cow_mobile@1x.jpg"
    alt="cow"
    class=""
    loading="lazy"
  />
</picture>
