<section class="products" id="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__thumb first">
          <h3 class="products-list__title">ice cream</h3>
          <p class="products-list__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products-list__btn" type="button" products-modal-open>
            <svg class="products-list__icon" width="40" height="16">
              <use href="./images/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb second">
          <h3 class="products-list__title">ice coffee</h3>
          <p class="products-list__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            class="products-list__btn"
            type="button"
            second-products-modal-open
          >
            <svg class="products-list__icon" width="40" height="16">
              <use href="./images/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb third">
          <h3 class="products-list__title">milkshakes</h3>
          <p class="products-list__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            class="products-list__btn"
            type="button"
            third-products-modal-open
          >
            <svg class="products-list__icon" width="40" height="16">
              <use href="./images/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
