<div class="products-overlay">
  <div class="products-modal">
    <button type="button" class="products-modal__btn--close">
      <svg class="products-modal__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    
      <h2>Chololate icecream</h2>
      
      <img src="./images/products/modal/choco_icecream_modal@1x.jpg" 
      srcset="./images/products/modal/choco_icecream_modal@1x.jpg 1x, 
      ./images/products/modal/choco_icecream_modal@2x.jpg 2x"
      alt="icecream" 
      width="132" 
      >


  </div>
</div>
