<div class="read-more-container is-hidden" read-more-modal>
  <div class="read-more-modal">
    <button class="read-more-modal__button" read-more-modal-close>
      <svg class="read-more-modal__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="read-more-modal__title">How it’s made?</h2>
    <div class="video-container">
      <iframe
        class="video-container__frame"
        src="https://www.youtube.com/embed/mQU_LMrf0Os"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
