<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="reviews__slider">
      <div class="slider__item">
        <div class="reviews__img-wrapper">
          <img
            srcset="
              ./images/customer_reviews/customer01@1x.jpg 1x,
              ./images/customer_reviews/customer01@2x.jpg 2x
            "
            src="./images/customer_reviews/customer01@1x.jpg"
            alt="Emily from Los Angeles"
          />
        </div>
        <p class="reviews__description">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="reviews__person">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <div class="reviews__img-wrapper">
          <img
            srcset="
              ./images/customer_reviews/customer02@1x.jpg 1x,
              ./images/customer_reviews/customer02@2x.jpg 2x
            "
            src="./images/customer_reviews/customer02@1x.jpg"
            alt="Bryan from New-York"
          />
        </div>
        <p class="reviews__description">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="reviews__person">Bryan, New-York</p>
      </div>
      <div class="slider__item">
        <div class="reviews__img-wrapper">
          <img
            srcset="
              ./images/customer_reviews/customer03@1x.jpg 1x,
              ./images/customer_reviews/customer03@2x.jpg 2x
            "
            src="./images/customer_reviews/customer03@1x.jpg"
            alt="Diana from Chicago"
          />
        </div>
        <p class="reviews__description">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="reviews__person">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
