.about {
  padding-top: 61px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.about__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.04em;
  margin-bottom: 32px;

  @media screen and (max-width: 767.98px) {
    width: 200px;
  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 82px;
  }
}
.about__content {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  @media screen and (min-width: 1200px) {
    gap: 109px;
  }
}
.image-box {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  width: 280px;
  height: 280px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;

  @media screen and (max-width: 767.98px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}
.image-box__cow {
  position: absolute;
  top: 22px;
  border-radius: 140px;

  @media screen and (min-width: 768px) {
  top: 26px;
  border-radius: 1228px;
  }

  @media screen and (min-width: 1200px) {
  top: 39px;
  border-radius: 1852.2px;
  }

}
.text {
  @media screen and (max-width: 767.68px) {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 334px;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    min-width: 463px;
  }
}
.text__introduction {
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    padding-left: 2px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.text__contents {
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    line-height: 1.75;
    margin-bottom: 8px;
    padding-left: 2px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.92;
  }
}
.text__conclusion {
  @media screen and (max-width: 767.67px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-right: 40px;}
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.92;
    margin-bottom: 54px;
  }
}

