// Overlay and modal properties

.overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;
  transition: opacity $transition-timing $timing-function,
    visibility $transition-timing $timing-function;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 20;

  // TABLET-DESKTOP-STYLE
  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform $transition-timing $timing-function,
      opacity $transition-timing $timing-function,
      visibility $transition-timing $timing-function;
  }

  &.active {
    opacity: 1;
    visibility: visible;

    // TABLET-DESKTOP-STYLE
    @media screen and (min-width: 480px) {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

// Our location modal

.location-window {
  position: absolute;
  top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 28px;

  background-color: getColor('white-text');
  border-radius: 10px;
  border: 2px solid getColor('hover-accent');

  @media screen and (max-width: 320px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 480px) {
    max-width: 280px;
    max-height: 365px;
  }

  // TABLET-DESKTOP-STYLE
  @media screen and (min-width: 480px) {
    top: 50%;
    left: 50%;
    width: 280px;
    height: 365px;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
    height: 458px;
  }
}

.location-window__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  background-color: transparent;
  fill: getColor('black-text');
  transition: fill $transition-timing $timing-function;

  &:hover,
  &:focus {
    fill: getColor('hover-second');
  }
}

.location-window__icon {
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.location-window__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: getColor('black-text');
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.location-window__link {
  display: inline-block;

  color: getColor('black-text');
  background-color: getColor('hover-accent');
  padding: 12px 34px;
  border-radius: 10px;
  margin-top: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
  transition: background-color $transition-timing $timing-function,
    color $transition-timing $timing-function;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 32px;
  }

  &:hover {
    background-color: getColor('hover-second');
    color: getColor('button-text');
  }

  &:focus {
    background-color: getColor('hover-second');
    color: getColor('focus-btn-text');
  }
}

// Franchise modal

.franchise-window {
  position: absolute;
  top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 28px;

  background-color: getColor('white-text');
  border-radius: 10px;
  border: 2px solid getColor('hover-accent');

  @media screen and (max-width: 319px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 480px) {
    max-width: 280px;
  }

  // TABLET-DESKTOP-STYLE
  @media screen and (min-width: 480px) {
    top: 60%;
    left: 50%;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    top: 65%;
    padding: 32px 60px;
    width: 568px;
  }
}

.franchise-window__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  background-color: transparent;
  fill: getColor('black-text');
  transition: fill $transition-timing $timing-function;

  &:hover,
  &:focus {
    fill: getColor('hover-second');
  }
}

.franchise-window__icon {
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.franchise-window__wrapper {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 322px;
    margin-bottom: 24px;
  }
}

.franchise-window__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: getColor('black-text');
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.franchise-window__text {
  color: getColor('black-text');
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 32px;

    &--wrapper {
      width: 448px;
    }
  }
}

.franchise-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.franchise-form__wrapper {
  position: relative;
}

.franchise-form__input {
  color: getColor('black-text');
  font-size: 12px;
  line-height: 1.4;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid getColor('bg-primary');
  border-radius: 10px;
  outline: transparent;

  width: 224px;
  height: 32px;

  padding: 8px 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.4;
    width: 368px;
    height: 48px;
    padding: 16px 11px;
  }

  &:hover {
    border-color: getColor('hover-accent');
  }

  &:focus {
    border: 2px solid getColor('bg-primary');
  }

  &:focus + .franchise-form__label,
  &:not(:placeholder-shown) + .franchise-form__label {
    background-color: getColor('hover-second');
    transform: translate(0px, -27px) scale(0.7);

    @media screen and (min-width: 768px) {
      transform: translate(15px, -37px) scale(0.9);
    }
  }
}

.franchise-form__label {
  position: absolute;
  top: 50%;
  left: 3px;
  padding: 2px 10px;
  border-radius: 10px;

  color: getColor('black-text');
  background-color: inherit;
  font-size: 12px;
  line-height: 1.4;

  transform: translateY(-50%) scale(1);
  transition: background-color $transition-timing $timing-function,
    transform $transition-timing $timing-function;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.franchise-form__textarea {
  color: getColor('black-text');
  font-size: 12px;
  line-height: 1.4;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid getColor('bg-primary');
  border-radius: 10px;
  outline: transparent;

  width: 224px;
  height: 64px;
  padding: 8px 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.4;
    width: 368px;
    height: 84px;
    padding: 16px 11px;
  }

  &--change-size {
    resize: none;
    height: 64px;

    @media screen and (min-width: 768px) {
      height: 84px;
    }
  }

  &:hover {
    border-color: getColor('hover-accent');
  }

  &:focus {
    border: 2px solid getColor('bg-primary');
  }

  &:focus + .franchise-form__label-textarea,
  &:not(:placeholder-shown) + .franchise-form__label-textarea {
    background-color: getColor('hover-second');
    transform: translate(0px, -27px) scale(0.7);

    @media screen and (min-width: 768px) {
      transform: translate(15px, -33px) scale(0.9);
    }
  }
}

.franchise-form__label-textarea {
  position: absolute;
  top: 25%;
  left: 3px;
  padding: 2px 10px;
  border-radius: 10px;

  transform: translateY(-50%) scale(1);
  transition: background-color $transition-timing $timing-function,
    transform $transition-timing $timing-function;

  color: getColor('black-text');
  background-color: inherit;
  font-size: 12px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.franchise-form__button {
  display: block;
  color: getColor('black-text');
  background-color: getColor('hover-accent');
  padding: 12px 34px;
  border-radius: 10px;
  margin-top: 24px;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  border: none;
  transition: background-color $transition-timing $timing-function,
    color $transition-timing $timing-function;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 32px;
  }

  &:hover {
    background-color: getColor('hover-second');
    color: getColor('button-text');
  }

  &:focus {
    background-color: getColor('hover-second');
    color: getColor('focus-btn-text');
  }
}
