.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.reviews__slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .slick-arrow.slick-prev {
    left: 0;
    background-image: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slick-arrow.slick-next {
    right: 0;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.reviews__slider {
  .slick-dots {
    max-width: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: 767px) {
      margin-top: 12px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }
  .slick-dots li {
    @extend %list;
    column-gap: 18px;
  }
  .slick-dots button {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 0;
    border: 1px solid transparent;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  .slick-dots li.slick-active button {
    background-color: getColor('bg-primary');
  }
}

.gallery__slider {
  @media screen and (min-width: 1200px) {
    padding: 0 77px;
  }
}
